---
import Base from '../layouts/Base.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import Player from '../components/Player.astro';
---

<Base>
  <Nav />

  <main class="relative flex flex-1 flex-col">
    <Player />
  </main>

  <Footer />
</Base>
